<h5 class="white-text">👮🏽 Fuentes Oficiales</h5>
<div class="row">
    <div class="col s12 m6">
        <div class="card fill-menu">
            <div class="card-imagex center-align" style="padding: 1rem;">
                <img src="assets/image/gobmx.svg" srcset="assets/images/gobmx.svg" class="responsive-img" style="max-width: 220px; text-align: center!important;">
            </div>
            <div class="card-action">
                <a class="grey-text text-lighten-3" href="https://www.gob.mx/salud" target="_blank">🚑 Secretaria de
                    salud.</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card fill-menu">
            <div class="card-imagex center-align" style="padding: 1rem;">
                <img src="assets/image/gobmx.svg" srcset="assets/images/gobmx.svg" class="responsive-img" style="max-width: 220px; text-align: center!important;">
            </div>
            <div class="card-action">
                <a class="grey-text text-lighten-3" href="https://www.gob.mx/salud/documentos/nuevo-coronavirus-2019-ncov-comunicado-tecnico-diario?state=published" target="_blank">🚑 Comunicado técnico.</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card fill-menu">
            <div class="card-imagex center-align" style="padding: 1rem;">
                <img src="assets/image/fever.svg" srcset="assets/images/fever.svg" class="responsive-img" style="max-width: 120px; text-align: center!important;">
            </div>
            <div class="card-action">
                <a class="grey-text text-lighten-3" href="https://www.gob.mx/salud/documentos/nuevo-coronavirus-poblacion" target="_blank">🚑 Contenidos
                    para la población.</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card fill-menu">
            <div class="card-imagex center-align" style="padding: 1rem;">
                <img src="assets/image/doctor.svg" srcset="assets/images/doctor.svg" class="responsive-img" style="max-width: 120px; text-align: center!important;">
            </div>
            <div class="card-action">
                <a class="grey-text text-lighten-3" href="https://www.gob.mx/salud/documentos/nuevo-coronavirus-poblacion" target="_blank">🚑 Contenidos
                    para el personal de salud.</a>
            </div>
        </div>
    </div>
</div>
<ul>
    <li><a class="grey-text text-lighten-3" href="https://www.gob.mx/salud" target="_blank">🚑 Secretaria de salud.</a>
    </li>
    <li><a class="grey-text text-lighten-3" href="https://www.gob.mx/salud/documentos/nuevo-coronavirus-2019-ncov-comunicado-tecnico-diario?state=published" target="_blank">🚑 Comunicado técnico diario.</a></li>
    <li><a class="grey-text text-lighten-3" href="https://www.gob.mx/salud/documentos/nuevo-coronavirus-poblacion" target="_blank">🚑 Contenidos para la población.</a></li>
    <li><a class="grey-text text-lighten-3" href="https://www.gob.mx/salud/documentos/nuevo-coronavirus-poblacion" target="_blank">🚑 Contenidos para el personal de salud.</a></li>
</ul>