<footer class="page-footer fill-menu">
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="">
                    <img src="assets/images/covid2.svg" srcset="assets/images/covid2.svg" class="responsive-img" style="max-width: 54px; margin-left: 2rem; margin-top: .2rem;">
                    <span style="top: -1rem; position:relative; font-size: 2.2rem; margin-left: 0.5rem;">COVID19mx🇲🇽</span>
                </div>
                <h5 class="white-text">💢 Seguimiento diario de coronavirus en México</h5>
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">💢 Recomendaciones</span>
                        <ul>
                            <li><strong>✅ Lavarse las manos</strong> frecuentemente con <strong>agua y jabón</strong> o utilizar soluciones a base de alcohol gel al 70%.</li>
                            <li><strong>✅ Al toser o estornudar</strong>, utilizar el estornudo de etiqueta.</li>
                            <li><strong>✅ No escupir.</strong> Si es necesario hacerlo, utilizar un pañuelo desechable, meterlo en una bolsa de plástico, anudarla y tirarla a la basura; después lavarse las manos.</li>
                            <li><strong>✅ No tocarse la cara con las manos sucias</strong>, sobre todo nariz, boca y ojos.</li>
                            <li><strong>✅ Limpiar y desinfectar superficies y objetos de uso común</strong> en casas, oficinas, sitios cerrados, transporte, centros de reunión, etc., ventilar y permitir la entrada de luz solar.</li>
                            <li><strong>✅ Quedarse en casa cuando se tienen enfermedades respiratorias</strong> y acudir al médico si se presenta alguno de los síntomas (fiebre mayor a 38° C, dolor de cabeza, dolor de garganta, escurrimiento nasal, etc.).</li>
                            <li><strong>✅ Evitar</strong> en lo posible <strong>contacto con personas que tengan enfermedades respiratorias</strong></li>
                        </ul>
                        <div class="row">
                            <div class="col s12 m4 center-align">
                                <img style="max-width: 50%;" src="assets/image/soap.svg" srcset="assets/images/soap.svg" class="responsive-img" style="max-width: 120px; text-align: center!important;">
                            </div>
                            <div class="col s12 m4 center-align">
                                <img style="max-width: 50%;" src="assets/image/sospechosos.svg" srcset="assets/images/sospechosos.svg" class="responsive-img" style="max-width: 120px; text-align: center!important;">
                            </div>
                            <div class="col s12 m4 center-align">
                                <img style="max-width: 50%;" src="assets/image/wash.svg" srcset="assets/images/wash.svg" class="responsive-img" style="max-width: 120px; text-align: center!important;">
                            </div>
                        </div>
                    </div>
                    <div class="card-action fill-menu">

                    </div>
                </div>
                <p class="grey-text text-lighten-4">
                    💢 La aplicación está desarrollada para ser herramienta de apoyo para el seguimiento del coronavirus, hoy presente en México.
                </p>
                <p class="grey-text text-lighten-4">
                    💢 Los datos aquí mostrados están basados en los documentos proporcionados por el gobierno de México en su sitio oficial: https://www.gob.mx/salud.
                </p>
                <p class="grey-text text-lighten-4">
                    💢 Los datos se actualizan después de que la información es publicada en la página oficial, la cual es actualizada diario después de las 19:00 horas. En la aplicacion se actualizará considerando el tiempo que toma generar la información el cual es de
                    aproximadamente de 1 a 2 horas.
                </p>
                <p>
                    💢 Es un proyecto, una iniciativa personal, cuyo objetivo es informar a los habitantes de México por lo que NO es un sitio oficial del Gobierno Mexicano.
                </p>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">

            <div class="row">
                <div class="col s12 m12 center">
                    <a class="grey-text text-lighten-4" href="https://www.facebook.com/lennon182" target="_blank">
                        🤓 Contacta al desarrollador 💻
                        <br><img width="50" src="assets/image/mycodedev.svg" srcset="assets/images/mycodedev.svg" class="responsive-img">
                    </a>
                </div>
                <div class="col s12 m12 center">
                    © {{this.date}}<a class="grey-text text-lighten-4" href="https://www.facebook.com/lennon182" target="_blank">
                        Copyright
                        E. Iván Mtz Leal.</a>
                    <br> {{this.version}}
                </div>
            </div>
        </div>
    </div>
</footer>